<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (!string.IsNullOrEmpty(Model.Get("title", string.Empty).ToString())) {
    <title>@Model["title"]</title>
    }
    else {
    <title>@Model["site.title"]</title>
    }
    @if (!string.IsNullOrEmpty(Model.Get("description", string.Empty).ToString())) {
    <meta name="description" content="@Model["description"]" />
    }
    else {
    <meta name="description" content="@Model["site.description"]" />
    }
    <link rel="canonical" href="@Model.String("CanonicalUrl").Replace("index.html", "")" />
    <link rel="stylesheet" type="text/css" href="@Model["site.base-url"]/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="@Model["site.base-url"]/css/customisation.css" media="screen">
    <link rel="stylesheet" type="text/css" href="@Model["site.base-url"]/css/solarized-dark.css" media="screen">
</head>