<!DOCTYPE html>
<html lang="en">
@Html.Partial("partials/_head")
<body>
@Html.Partial("partials/_navBar")
@RenderBody()
@Html.Partial("partials/_footer")
</body>
@Html.Partial("partials/_scripts")
</html>